*,
*:before,
*:after {
  box-sizing: border-box;
  min-height: 0; // NOTE: needed for slick carousel
  min-width: 0; // NOTE: needed for slick carousel
}

*::selection {
  background: $neutral-darkest;
  color: $neutral-lightest;
  -webkit-text-fill-color: $neutral-lightest;
}

:focus {
  @include focus-default;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: $neutral-lightest;
  color: $neutral-darkest;
  font-family: $font-family-body;
  font-size: $fs-body;
  font-weight: $font-weight-subtle;
  line-height: 1.5;
}

.app-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.app-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-4x;
}

.cta-logo {
  display: inline-flex;
  position: relative;

  &:focus {
    outline: 0;

    &::after {
      content: "";
      position: absolute;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      border-width: $space-xs;
      border-style: solid;
      border-image-slice: 1;
      border-image-source: $gradient-rainbow;
    }
  }
}

.logo {
  width: $space-6x;
  height: $space-6x;
}

.app-main {
  grid-area: main;
  padding: $space-4x;
  overflow-y: auto;
}

.section {
  display: grid;
  grid-template-columns: minmax(auto, 90rem);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "title"
    "br"
    "tl";
  justify-content: center;
  gap: $space-3x;

  &-projects {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title"
      "filters"
      "projects";
    justify-content: center;
    gap: $space-3x;
  }

  &-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "page-header"
      "page-content";
  }

  &-404 {
    display: grid;
    grid-template-columns: minmax(auto, 90rem);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title"
      "br"
      "tl";
    justify-content: center;
    gap: $space-3x;
  }
}

.app-footer {
  grid-area: footer;
  padding: 0 $space-4x $space-2x;
  color: $neutral-darkest;
}

// global page layout

h1 {
  grid-area: title;
}

.page-header {
  grid-area: page-header;
}

.page-content {
  & > *:first-child {
    margin-top: $space-4x;
  }
}

.tl {
  grid-area: tl;
}

.br {
  grid-area: br;

  & > *:first-child {
    margin-top: 0;
  }
}

// projects page

.projects {
  grid-area: projects;
  margin-top: $space-4x;
}

// project page & info

.image {
  display: block;
  width: 100%;
  height: auto;
}

// info

.tags {
  margin-top: $space-2x;
}

.paragraph-lead {
  font-size: $fs-assertive;
  & + .subtle {
    margin-top: 2rem;
    border-top: $border-primary;
    padding-top: 2rem;
    font-size: $fs-subtle;

    & + .subtle {
      margin-bottom: 2rem;
      border-bottom: $border-primary;
      padding-bottom: 2rem;
      font-size: $fs-subtle;
    }
  }
}

.paragraph-speaking {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: $space-2x;

  .image {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    // border-bottom-width: $space-sm;
    // border-bottom-style: solid;
    // border-image-slice: 1;
    // border-image-source: $gradient-rainbow;
  }
}

@media only screen and (min-width: 768px) {
  .page-header {
    grid-area: page-header;
    line-height: 48px;
  }

  .app-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-template-columns: 25% 75%;
    grid-template-areas:
      "header main"
      "nav main"
      "footer main";
  }

  .section {
    display: grid;
    // grid-template-columns: minmax(auto, 50%) minmax(auto, 90rem);
    // grid-template-rows: auto 1fr;
    // grid-template-areas:
    //   'tl title'
    //   'tl br';
    // justify-content: center;
    // column-gap: $space-3x;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title"
      "br tl";

    &-404 {
      // grid-template-columns: minmax(auto, 50%) minmax(auto, 90rem);
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "tl title"
        "tl br";
    }
  }
}

@media only screen and (min-width: 1200px) {
  .app-container {
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:
      "header main ."
      "nav main ."
      ". footer .";
  }
}

@media only screen and (min-width: 1600px) {
  .app-container {
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-areas:
      ". header main . ."
      ". nav main . ."
      ". . footer . .";
  }
}
