*,
*:before,
*:after {
  box-sizing: border-box;
  min-height: 0; // NOTE: needed for slick carousel
  min-width: 0; // NOTE: needed for slick carousel
}

*::selection {
  background: $neutral-darkest;
  color: $neutral-lightest;
  -webkit-text-fill-color: $neutral-lightest;
}

:focus {
  @include focus-default;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: $neutral-lightest;
  color: $neutral-darkest;
}

.app {
  height: 100%;
}

.app-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.app-main {
  grid-area: main;
  padding: $space-4x;
  overflow-y: auto;
}

.app-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-4x;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "page-header"
    "page-content"
    "page-media";
  row-gap: $space-4x;

  &-work {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "page-header"
      "page-content";
    row-gap: $space-4x;
  }
}

.page-header {
  grid-area: page-header;
}

.page-content {
  & > *:first-child {
    margin-top: 0;
  }
}

.two-up {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-4x;
  margin-top: $space-4x;
  margin-bottom: $space-4x;
  border-top: 1px solid $neutral-darkest;
  padding-top: $space-4x;
}

.app-footer {
  grid-area: footer;
  padding: 0 $space-4x $space-2x;
  color: $neutral-darkest;
}

@media only screen and (min-width: 768px) {
  .app-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-template-columns: 25% 75%;
    grid-template-areas:
      "header main"
      "nav main"
      ". footer";
  }

  .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "page-header"
      "page-content"
      "page-media";
  }

  .page-header {
    grid-area: page-header;
    line-height: $space-6x;
  }

  .two-up {
    display: grid;
    grid-template-columns: 2fr minmax(250px, 1fr);
    align-items: center;
    margin-top: $space-4x;
    margin-bottom: $space-4x;
    border-top: 1px solid $neutral-darkest;
    border-bottom: 1px solid $neutral-darkest;
    padding-top: $space-4x;
    padding-bottom: $space-4x;
  }
}

@media only screen and (min-width: 1200px) {
  .app-container {
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:
      "header main ."
      "nav main ."
      ". footer .";
  }
}

@media only screen and (min-width: 1600px) {
  .app-container {
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-areas:
      ". header main . ."
      ". nav main . ."
      ". . footer . .";
  }
}
