*,
*:before,
*:after
{
  box-sizing: border-box;
}

*::selection
{
  background: $neutral-darkest;
  color: $neutral-lightest;
  -webkit-text-fill-color: $neutral-lightest;
}

:focus
{
  @include focus-default;
}

html
{
  height: 100%;
}

body
{
  margin: 0;
  background: $neutral-lightest;
  color: $neutral-darkest;
}

.app-root
{
  height: 100%;
}

.app-container
{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.app-header
{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-content: space-between;
  align-items: center;
}

.app-main
{
  grid-area: main;
  padding: $space-4x;
  overflow-y: auto;
}

.section
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "page-header"
    "page-content";
  row-gap: $space-4x;

  &-work
  {
    grid-template-rows: auto auto;
    grid-template-areas:
      "page-header"
      "page-content";
  }
}

.page-header
{
  grid-area: page-header;
}

.page-content
{
  & > *:first-child
  {
    margin-top: 0;
  }
}

.layout-info
{
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-4x;
  margin-top: $space-4x;
  margin-bottom: $space-4x;
  border-top: 1px solid $neutral-darkest;
  padding-top: $space-4x;
}

.layout-two-up
{
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-2x;
  margin-top: $space-4x;
  margin-bottom: $space-4x;

  &.logofolio
  {
    grid-template-columns: 1fr 1fr;
  }
}

.layout-art-masonry
{
  display: grid;
  gap: $space-2x;
  margin-top: $space-4x;
  margin-bottom: $space-4x;
}

.app-footer
{
  grid-area: footer;
  padding: 0 $space-4x $space-2x;
  color: $neutral-darkest;
}

@media only screen and (min-width: 768px)
{
  .app-container
  {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-template-columns: 25% 75%;
    grid-template-areas:
      "header main"
      ". main"
      ". footer";
  }

  .app-header
  {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-content: unset;
    align-items: unset;
  }

  .section
  {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "page-header"
      "page-content";
  }

  .page-header
  {
    grid-area: page-header;
    line-height: $space-6x;
  }

  .layout-info
  {
    display: grid;
    grid-template-columns: 2fr minmax(250px, 1fr);
    align-items: center;
    margin-top: $space-4x;
    margin-bottom: $space-4x;
    border-top: 1px solid $neutral-darkest;
    border-bottom: 1px solid $neutral-darkest;
    padding-top: $space-4x;
    padding-bottom: $space-4x;
  }

  .layout-two-up
  {
    grid-template-columns: 1fr 1fr;
  }

  .layout-art-masonry
  {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    .img-2
    {
      grid-row: 1 / 3;
      grid-column: 2;
      height: 100%;
      object-fit: cover;
    }

    .img-3
    {
      grid-row: 2 / 2;
    }

    .img-4
    {
      height: 100%;
      object-fit: cover;
    }
  }
}

@media only screen and (min-width: 1200px)
{
  .app-container
  {
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:
      "header main ."
      ". main ."
      ". footer .";
  }
}

@media only screen and (min-width: 1600px)
{
  .app-container
  {
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-areas:
      ". header main . ."
      ". . main . ."
      ". . footer . .";
  }

  .app-header
  {
    grid-column: 2 / 2;
  }
}