.cta-icon
{
  @include button;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $space-6x;
  height: $space-6x;
  padding: $space-md;

  & > .icon
  {
    width: $space-3x;
    height: 100%;
  }
}

.nav-social
{
  display: flex;
  flex-wrap: wrap;
  margin-top: $space-2x;
  gap: $space-3x;
}