.cta-link
{
  border-bottom: $space-xs solid $neutral-lightest;
  color: $neutral-lightest;
  font-weight: $font-weight-assertive;
  text-decoration: none;

  &:hover,
  &:active
  {
    color: $neutral-lightest;
    text-decoration: none;
    border-color: $neutral-darkest;
    background-color: $neutral-lightest;
    color: $neutral-darkest;
  }

  &:focus
  {
    @include focus-ghost;
  }
}