.cta-icon {
  @include button;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $space-6x;
  height: $space-6x;
  margin-top: $space-2x;
  padding: $space-md;

  &:nth-of-type(2) {
    margin: $space-2x $space-2x 0;
  }

  & > .icon {
    width: $space-3x;
    height: 100%;
  }
}
