.filters
{
  display: flex;
  flex-wrap: wrap;
  gap: $space-md;
}

.filter
{
  position: relative;
  border: 1px solid $neutral-darkest;
  padding: $space-xs $space-md;
  background: $neutral-lightest;
  // background: linear-gradient(
  //   to right,
  //   $neutral-darkest 50%,
  //   $neutral-lightest 50%
  // );
  // background-size: 200% 100%;
  // background-position: right bottom;
  color: $neutral-darkest;
  // transition: background-position 0.25s ease-out, color 0.25s ease-out;

  font-family: $font-family-body;
  font-size: $fs-subtle;
  font-weight: $font-weight-subtle;

  &:hover
  {
    // background-position: left bottom;
    // transition: background-position 0.25s ease-out, color 0.25s ease-out;
    background: $neutral-darkest;
    color: $neutral-lightest;
    cursor: pointer;
  }

  @include focus-rainbow;
}

[data-active-filter="All"] [data-filter="All"],
[data-active-filter="Graphic Design"] [data-filter="Graphic Design"],
[data-active-filter="Web Design"] [data-filter="Web Design"],
[data-active-filter="Development"] [data-filter="Development"],
[data-active-filter="Art"] [data-filter="Art"]
{
  background: $neutral-darkest;
  color: $neutral-lightest;
}