.cta-logo,
.menu-toggle
{
  min-width: $space-6x;
  max-width: $space-6x;
  min-height: $space-6x;
  max-height: $space-6x;
  margin: $space-4x;
}

.cta-logo
{
  display: inline-flex;
  position: relative;
  @include focus-rainbow;
}

.menu-toggle
{
  @extend .cta-icon;
  justify-self: end;
  @include focus-rainbow;
}

.menu
{
  display: none;
  margin: 0 $space-4x $space-4x;

  &.expanded
  {
    display: unset;
  }
}

.nav-list
{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: $space-md;
  font-size: $fs-subtle;
}

.nav-item
{
  list-style-type: none;
}

.link
{
  position: relative;
  display: inline-block;
  background-image: linear-gradient($neutral-darkest 0 0);
  background-position: left bottom;
  background-size: 0% $space-xs;
  background-repeat: no-repeat;
  color: $neutral-darkest;
  font-size: $fs-subtle;
  letter-spacing: $space-xs;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:active,
  &.active
  {
    background-size: 100% $space-xs;
  }

  &:focus
  {
    outline: 0;
    background-image: $gradient-rainbow;
    background-size: 100% $space-xs;
  }
}

.mode-toggle
{
  width: $space-6x;
  height: $space-6x;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px)
{
  .menu-toggle
  {
    display: none !important;
  }

  .menu
  {
    display: unset;
    // padding: $space-4x;
  }
}

// TEMP NAV

.app-header
{
  align-items: flex-end;
}

.nav-list
{
  flex-direction: row;
  padding: 0;
  gap: $space-2x;
}

.menu-toggle
{
  display: none !important;
}

.menu
{
  display: unset;
  margin: 0 2rem;
}

@media only screen and (min-width: 768px)
{
  .app-header
  {
    align-items: flex-start;
  }

  .menu
  {
    display: unset;
    margin-top: 0;
  }

  .nav-list
  {
    flex-direction: column;
  }
}