// TODO:
// cross-browser compatibility
// check accessibility requirement -- is this considered decorative bc there's a browser scrollbar?
// try applying to card and link hover/focus

.progress-container
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: $space-sm;
}

.progress
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: $space-sm;
  background: $neutral-darkest;
  background: $gradient-rainbow;
  animation: clip auto linear forwards;
  animation-timeline: scroll(root);
  transform-origin: 0 50%;
}

@keyframes clip
{
  0%
  {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  100%
  {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}