.slick-container {
  display: block;
}

.slick-slider {
  .slick-dots {
    position: static;
    margin-top: $space-sm;

    li {
      button {
        &:hover {
          background-color: $neutral-darkest;

          &::before {
            color: $neutral-lightest;
            opacity: 1;
          }
        }

        &:focus {
          @include focus-rainbow;
        }

        &::before {
          color: $neutral-darkest;
          opacity: 1;
        }
      }

      &.slick-active {
        button {
          background-color: $neutral-darkest;

          &::before {
            color: $neutral-lightest;
            opacity: 1;
          }
        }
      }
    }
  }
}

.project-page-imagery {
  width: 100%;
  vertical-align: bottom;
}
