---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import headshot from "../images/kasey.jpg";
import NavSocial from "../components/NavSocial.astro";
const pageTitle = "Info";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="page-content">
    <p class="assertive">
      Hi, I'm Kasey. I am a UX and design engineering leader with a passion for design
      systems and accessibility.
    </p>
    <div class="layout-info">
      <div class="content">
        <p class="mt-0">
          I lead with empathy and curiosity, strive for excellence and
          efficiency, and challenge people to think differently.
        </p>
        <p>
          I love puppies, sunshine, weird art, and puns. I have a knack for
          finding typos, I know how to fold a fitted sheet, and I finally
          figured out how to keep plants alive.
        </p>
        <p>
          Friends and colleagues describe me as: passionate, vibrant, a force, a
          fearless leader, a unicorn, and the most organized person they've ever
          met.
        </p>
      </div>
      <Image
        src={headshot}
        class="image-square decorative-treatment"
        alt="Kasey"
      />
    </div>
    <p>
      If you'd like to learn more about me and my work, chat about an
      opportunity to work together, or swap puppy pics, get in touch!
    </p>
    <NavSocial />
  </div>
</BaseLayout>
