---
import IconMenuCollapse from "./Icons/IconMenuCollapse.astro";
---

<button
  type="button"
  class="menu-toggle collapsed"
  aria-label="Close navigation"
  data-menu-hide
>
  <IconMenuCollapse />
</button>
