---
import Logo from "./Logo.astro";
import OpenMenu from "./OpenMenu.astro";
---

<header class="app-header">
  <a href="/" class="cta-logo" aria-label="KLL home">
    <Logo />
  </a>
  <OpenMenu />
</header>
