---
import Logo from "./Logo.astro";
import ToggleMenu from "./ToggleMenu.astro";
import NavPrimary from "./NavPrimary.astro";
// import ToggleMode from "./ToggleMode.astro";
---

<header class="app-header">
  <a href="/" class="cta-logo" aria-label="KLL home">
    <Logo />
  </a>
  <ToggleMenu />
  <nav class="nav-primary">
    <NavPrimary />
    <!-- <ToggleMode /> -->
  </nav>
</header>
