---
const pathname = Astro.url.pathname;
const currentPath = pathname.slice(1);
---

<ul class="nav-list">
  <li class="nav-item">
    <a href="/" class={currentPath === "" ? "link active" : "link"}> Work </a>
  </li>
  <li class="nav-item">
    <a href="/info" class={currentPath === "info" ? "link active" : "link"}>
      Info
    </a>
  </li>
  <li class="nav-item">
    <a
      href="/documents/kaseyllabelle-resume.pdf"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      Resume
    </a>
  </li>
  <li class="nav-item">
    <a
      href="https://goo.gl/forms/fcvTryc6Pryrxjfj2"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      Contact
    </a>
  </li>
</ul>
