---
import IconGoogle from "../components/Icons/IconGoogle.astro";
import IconLinkedIn from "../components/Icons/IconLinkedIn.astro";
import IconGitHub from "../components/Icons/IconGitHub.astro";
---

<nav class="nav-social" aria-label="contact form and social media">
  <a
    href="https://goo.gl/forms/fcvTryc6Pryrxjfj2"
    target="_blank"
    rel="noopener noreferrer"
    class="cta-icon nav-social-link"
    aria-label="Contact form"
  >
    <IconGoogle />
  </a>
  <a
    href="https://www.linkedin.com/in/kaseyllabelle"
    target="_blank"
    rel="noopener noreferrer"
    class="cta-icon nav-social-link"
    aria-label="LinkedIn"
  >
    <IconLinkedIn />
  </a>
  <a
    href="https://github.com/kaseyllabelle"
    target="_blank"
    rel="noopener noreferrer"
    class="cta-icon nav-social-link"
    aria-label="GitHub"
  >
    <IconGitHub />
  </a>
</nav>
