---
import IconMenuExpand from "./Icons/IconMenuExpand.astro";
// import IconMenuCollapse from "./Icons/IconMenuCollapse.astro";
---

<button id="menuToggle" class="menu-toggle" aria-label="Toggle navigation">
  <IconMenuExpand />
  <!-- <IconMenuCollapse /> -->
</button>
